@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

button:focus { outline:none }
input:focus { outline:none }

body {
  overflow-x: hidden;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #130d8a fixed;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom left, #6f27c6, #130d8a) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom left, #6f27c6, #130d8a) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: aliceblue;
  background-repeat: no-repeat;
  height: 100%;
}

h1 {
  position: relative;
  border-radius: 15px;
  background-color: transparent;
  padding-bottom: 16px;
  width: fit-content;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-size: 130px;
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px #292c69;
}

h1 .fa-search-location {
  position: absolute;
  top: 0rem;
  left: 6.3rem;
  font-size: 48px;
  text-shadow: 2px 2px 3px black;
  animation-name: magnifier;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes magnifier {
  0% {
    top: 0rem;
    left: 6.3rem;
    transform: scale(0, 0);
  }
  7% {
    top: 0rem;
    left: 6.3rem;
    transform: scale(1, 1);
  }
  20% {
    top: 7.5rem;
    left: 12.5rem;
    transform: scale(1, 1);
  }
  45% {
    top: 4.5rem;
    left: 24.2rem;
    transform: scale(1, 1);
  }
  70% {
    top: -1rem;
    left: 20.2rem;
    transform: scale(1, 1);
  }
  88%{
    top: 30px;
    left: 33rem;
    transform: scale(1, 1);
    text-shadow: 2px 2px 3px black;
  }
  98% {
    top: 30px;
    left: 33rem;
    color: #ffffff;
    transform: scale(1.2, 1.2);
  }
  100% {
    top: 30px;
    left: 33rem;
    color: #ffffff;
    transform: scale(1, 1);
    text-shadow: 9px 8px 5px rgba(0, 0, 0, 0.726);
  }
}

h2 {
  font-family: serif;
  font-variant: small-caps;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
}

h2::after {
  content: '';
  display: block;
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(251, 250, 246);
  margin-bottom: 1rem;
}

.start-bouton {
  transition: all 0.1s;
  background: #c9eeff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, #E2E2E2, #c9d1ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, #E2E2E2, #c9d1ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #470d8f;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.424);
  font-size: 45px;
  font-weight: 600;
  padding: 30px 25px;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  position: relative;
  box-shadow: 0px 13px 7px rgba(0, 0, 0, 0.424);
  animation-name: buttonHopping;
  animation-timing-function: ease-in-out;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.start-bouton::before {
  position: absolute;
  transition: all .1s;
  top: 35px;
  left: 35px;
  content: '';
  display: block;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1, 1);
  z-index: -1;
}

.start-bouton::before {
  animation-name: buttonHover;
  animation-timing-function: ease-in-out;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes buttonHopping {
  0% {
    transform: translateY(1px) scale(1.7, 1.7);
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateY(-13px) scale(1.7, 1.7);
  }
}

@keyframes buttonHover {
  0% {
    opacity: 0.3;
    transform: scale(1.3, 1);
  }
  100% {
    opacity: 0;
    transform: scale(5, 5);
  }
}

.start-bouton:active {
  transition: all .1s;
  box-shadow: none;
}

/* .start-bouton::after {
  position: absolute;
  transition: all .1s;
  top: 62px;
  left: 0px;
  content: '';
  display: block;
  border: 1px solid #1b3fa0;
  background-color: #1b3fa0;
  height: 65px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  width: 100%;
  z-index: 0;
} */


.exercice {
  transition: all .4s;
  width: 500px;
  height: 100px;
  background-color: #4693c75e;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem auto 0 auto;
  box-shadow: 3px 3px 7px rgb(0 33 36 / 72%);
  border: solid 2px #ffffff94;
}

/* .exercice:hover {
  transition: all .4s;
  transform: translateY(-3px);
} */

.exercice p {
  font-family: 'Roboto', sans-serif;
}

.bouton {
  transition: .1s;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: #401492;
  background-color: #fff;
  font-size: 25px;
  font-variant: small-caps;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 5px;
  font-weight: 800;
  z-index: 10;
}

.bouton:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}

/* .notif-box {
  position: relative;
}

.notif {
  position: absolute;
  width: 250px;
  height: 50px;
  background-color: rgb(66, 78, 146);
  top: 0;
  right: 0;
} */

.next-quiz-button {
  position: relative;
}

.next-quiz {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: rgb(35 9 103);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1, 1);
}

.next-pulse {
  animation-name: nextPulse;
  animation-iteration-count: 1;
  animation-duration: .6s;
  animation-fill-mode: backwards;
}

@keyframes nextPulse {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50%{
    opacity: 1;
  }
  99% {
    transform: scale(35, 35);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.choices {
  margin-top: 3rem;
}

.choice {
  color: #470d8f;
  width: 500px;
  height: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.479);
  background-color: #fff;
  border-radius: 3px;
  padding: 0 1.5rem;
  position: relative;
  opacity: 0;
}

.choice:hover {
  transition: .4s;
  transform: translateY(-2px);
}

.choice::after {
  transition: .4s;
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  width: 0%;
  height: 0%;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: rgba(202, 190, 214, 0.397);
}

.choice:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.choice i {
  padding: 10px 0;
  font-size: 25px;
}

.choice p {
  width: fit-content;
  padding: 0;
  font-size: 22px;
  margin: 0;
}

.bad-answer {
  background-color: rgb(158, 2, 2);
  color: white;
}

.good-answer {
  background-color: green;
  color: white;
}

.good-answer-show {
  animation-name: showGoodAnswer;
  animation-duration: 3s;
}

.opacity {
  opacity: 1;
}

@keyframes showGoodAnswer {
  0% {
    background-color: rgba(0, 128, 0, 0.829);
    color: white;
  }
  20% {
    background-color: #ffffff;
    color: black;
  }
  40% {
    background-color: green;
    color: white;
  }
  60% {
    background-color: #ffffff;
    color: black;
  }
  80% {
    background-color: green;
    color: white;
  }
  100% {
    background-color: #ffffff;
    color: #470d8f;
  }
}

.suggestion {
  width: 300px;
  position: relative;
}

.suggestion .auto-complete {
  position: absolute;
  color: grey;
  z-index: 10000;
}

.suggestion .point {
  position: absolute;
  color: white;
  z-index: 60;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  top: -2rem;
  right: 1.4rem;
  opacity: 0;
  animation-name: point;
  animation-duration: 1s;
}

@keyframes point {
  0% {
    opacity: 0;
    top: -2rem;
    right: 1.4rem;
  }
  50% {
    opacity: 1;
    top: -11rem;
    right: 1.4rem;
    transform: scale(1, 1);
  }
  90% {
    opacity: 1;
    top: -8rem;
    right: 8.4rem;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    top: -8rem;
    right: 8.4rem;
    transform: scale(0, 0);
  }
}

.mon-input {
  position: absolute;
  border: none;
  background-color: #ffffff;
  color: #401492;
  padding: 0.5rem 1rem;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 42%);
  width: 325px;
  height: 58px;
  border-radius: 25px;
  font-weight: 700;
  z-index: 10;
  text-transform: capitalize;
}

.mon-input:disabled {
  background-color: #cecccc;
  color: #808080d9;
}

.bouton:disabled {
  background-color: #cecccc;
  color: #808080d9;
}


.search-box {
  padding-top: 0;
  top: 5px;
  left: 0px;
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  height: 0px;
  overflow-y: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 0;
  box-shadow: 0 0 20px #000000ad;
  animation-name: growSearchBox;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

.search-box::-webkit-scrollbar-track {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: transparent;
}

.search-box::-webkit-scrollbar {
  width: 0px;
}

.search-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 3rem;
  padding-top: 3rem;
  box-shadow: inset 0 0 6px rgb(119, 5, 68);
  background-color: rgb(165, 16, 86);
}

.search-box p {
  transition: all .4s;
  color: #401492;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1rem 0;
  cursor: pointer;
}

.search-box p:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.52);
  background-color: #401492;
  color: white;
}

.search-box .hover-search {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.52);
  background-color: #401492;
  color: white;
}

hr {
  margin: 0 auto;
  color: inherit;
  width: 89%;
  background-color: #0000004f;
  border: 0;
  opacity: .25;
}

@keyframes growSearchBox {
  0% {
    height: 0px;
    padding-top: 0;
  }

  100% {
    height: 225px;
    padding-top: 3rem;
  }
}

/* .mon-input::after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
} */

.france-show {
  margin-top: 1rem;
  padding-right: 1.3rem;
  margin-bottom: 4rem;
  transform: scale(1, 1);
  width: 50%;
  height: 100%;
}

.france {
  padding-right: 1.3rem;
  margin-bottom: 4rem;
  width: 0;
  height: 0;
  transform: scale(0, 0);
}

.grow-france {
  animation-name: growFrance;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes growFrance {
  0% {
    transform: scale(0, 0);
    width: 50%;
    height: 100%;
  }
  95% {
    transform: scale(1.1, 1.1);
    width: 50%;
    height: 100%;
  }
  100% {
    transform: scale(1, 1);
    width: 50%;
    height: 100%;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.grow-in {
  animation-name: growIn;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

@keyframes growIn {
  0% {
    opacity: 0;
    font-size: 0;
    transform: perspective(1200px) rotateY(-105deg);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1) perspective(0) rotateY(0);
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    height: 100%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(149, 0, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(149, 0, 255);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .france {
    width: 100%;
  }

  .france-show {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 70px;
  }

  h1 .fa-search-location {
    position: absolute;
    top: 2px;
    left: 55px;
    font-size: 27px;
    text-shadow: 2px 2px 3px black;
    animation-name: magnifier;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes magnifier {
    0% {
      top: 0rem;
      left: 53px;
      transform: scale(0, 0);
    }
    7% {
      top: 0rem;
      left: 53px;
      transform: scale(1, 1);
    }
    20% {
      top: 61px;
      left: 107px;
      transform: scale(1, 1);
    }
    45% {
      top: 36px;
      left: 208px;
      transform: scale(1, 1);
    }
    70% {
      top: -7px;
      left: 174px;
      transform: scale(1, 1);
    }
    88%{
      top: 14px;
      left: 283px;
      transform: scale(1, 1);
    }
    98% {
      top: 14px;
      left: 283px;
      transform: scale(1.2, 1.2);
      color: #ffffff;
    }
    100% {
      top: 14px;
      left: 283px;
      color: #ffffff;
      transform: scale(1, 1);
      text-shadow: 9px 8px 5px rgba(0, 0, 0, 0.726);
    }
  }

  .exercice {
    width: 95%;
  }

  .choice {
    width: 95%;
  }

  .france {
    width: 100%;
  }

  .france-show {
    width: 100%;
  }

  @keyframes growFrance {
    0% {
      transform: scale(0, 0);
      width: 100%;
    }
    95% {
      transform: scale(1.1, 1.1);
      width: 100%;
    }
    100% {
      transform: scale(1, 1);
      width: 100%;
    }
  }
}